


nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #84dcc6;
  height: 70px;
  padding: 0 20px;
}

nav a, .dropdown-button {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.nav-left {
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

nav a:hover{
  background: #000;
  border-radius: 8px;
}